@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-2">Happy Sunshine Spa</h1>
        <h2 class="display-4">"Sunshine all your worries away"</h2>
    </div>


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
